In [ ]:
# 「Hello World」 출력
print('Hello World')

In [ ]:
a = 1
b = 2
c = a + b
print(a, b, c)

In [ ]:
a = 11
s = 'a는 10 이상' if a>10 else  'a는 10 미만'
print(s)

In [ ]:
text = '''1번째 줄 텍스트.
2번째 줄 텍스트.'''
print(text)

In [ ]:
print('문자열' + '의 연결')

In [ ]:
print('답 = ' + str(100))

In [ ]:
text = 'Hello World'
print(text[1:3])
print(text[:5])
print(text[6:])

In [ ]:
a = 'Test'
b = 100
c = 3.14159

print('문자열 = {}'.format(a))
print('정수 = {}'.format(b))
print('부동소수점 = {}'.format(c))
print('부동소수점 소수 2자리 = {:.2f}'.format(c))
print ('복수의 변수 = {}, {}, {:.2f}'.format(a, b, c))

In [ ]:
my_list = [1, 2, 3, 4]
print(my_list)
print(my_list[0])
print(my_list[1:3])

In [ ]:
my_list = [1, 2, 3, 4]
my_list[0] = 10
print(my_list)
my_list[1:4] = [20, 30]
print(my_list)

In [ ]:
my_list = ['Apple', 'Cherry']
print(my_list)
my_list.append('Strawberry')
print(my_list)
del my_list[1]
print(my_list)
my_list.remove('Apple')
print(my_list)

In [ ]:
print(list(range(10)))
print(list(range(1, 7)))
print(list(range(1, 10, 2)))

In [ ]:
my_dic = {'Apple': 300, 'Cherry': 200, 'Strawberry': 3000}
print(my_dic['Apple'])

In [ ]:
my_dic = {'Apple': 300, 'Cherry': 200, 'Strawberry': 3000}
my_dic['Apple'] = 400
print(my_dic)

In [ ]:
my_dic = {'Apple' : 300}
print(my_dic)
my_dic['Cherry'] = 200
print(my_dic)
del my_dic['Apple']
print(my_dic)

In [ ]:
my_taple = (1, 2, 3, 4)
print(my_taple)
print(my_taple[0])
print(my_taple[1:3])

In [ ]:
num = 5
if num >= 10:
    print('num이 10 이상') # 조건이 성립
else:
    print('num이 10 미만') # 조건이 불성립

In [ ]:
num = 10
if num >= 5:
    print('num이 5 이상') # 1번째 조건이 성립
elif num >= 3:
    print('num이 3 이상') # 2번째 조건이 성립
else:
    print('num이 3 미만') # 조건이 불성립

In [ ]:
for n in [1, 2, 3]:
    print(n), # 반복 대상
    print(n*10) # 반복 대상

In [ ]:
for n in range(5):
    print(n), # 반복 대상

In [ ]:
i = 0
while i < 20:
    i += 1
    if i % 2 == 0:
        continue
    if i % 3 == 0:
        print(i)

In [ ]:
for num, fruit in enumerate(['Apple', 'Cherry', 'Strawberry']):
    print('{}:{}'.format(num, fruit))

In [ ]:
my_list1 = []
for x in range(10):
    my_list1.append(x * 2)
print(my_list1)

In [ ]:
my_list2 = [x * 2 for x in range(10)]
print(my_list2)

In [ ]:
def radian(x):
    return x / 180 * 3.1415

for x in range(0, 360, 90):
    print('도: {}, 라디안: {:.2f}'.format(x, radian(x)))

In [ ]:
lambda_radian = (lambda x:x / 180 * 3.1415)

for x in range(0, 360, 90):
    print('도: {}, 라디안: {:.2f}'.format(x, lambda_radian(x)))

In [ ]:
class HelloClass:
    def __init__(self, msg):
        self.msg = msg

    def output(self):
        print(self.msg)

hello = HelloClass('Hello World')
hello.output()

In [ ]:
import numpy as np

a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)

In [ ]:
from numpy import array

a = array([[1,2,3],[4,5,6],[7,8,9]])
print(a)